* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Playfair Display', serif;
}
.flex {
    display: flex;
}
.center-container {
    max-width: 80%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
}
.orange-color {
    color: orange;
}
.button {
    color: white;
    background-color: #FF5959;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
}
.btn-margin {
    margin-top: 30px;
}
.top-banner-heading {
    border-left: 3px solid #FF5959;
}
.top-banner h1 {
    font-size: 50px;
    padding-left: 15px;
}
.top-banner p {
    font-size: 18px;
    text-align: justify;
    padding-top: 30px;
    color: #3E3E3E;
}
.top-banner-img {
    text-align: right;
}
.top-banner-img img {
    width: 80%;
}
.top-banner-heading {
    margin-top: 150px;
}
.my-mission h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.my-mission img {
    width: 50%;
}
.my-mission-card {
    width: 30%;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}
.mission {
    background: #EDF5F6;
    font-family: 'Roboto', sans-serif;
}
.vision {
    background: #FFEEEE;
    font-family: 'Roboto', sans-serif;
}
.goals {
    background: #FFF4D6;
    font-family: 'Roboto', sans-serif;
}
.my-mission-card p {
    padding-top: 20px;
}
.develop-left {
    width: 65%;
}
.develop-without-limits {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 50px;
    background-size: 15%;
    padding: 0 150px;
}
.develop-left img {
    width: 100%;
}
.develop-right {
    padding: 60px;
}
.develop-right h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-bottom: 30px;
}
.develop-right p {
    font-size: 18px;
}
.global-community {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom right 50px;
    padding: 0 150px;
}
.community-right img {
    width: 100%;
}
.community-right {
    width: 65%;
    padding-bottom: 80px;
}
.community-left {
    padding: 60px 0;
}
.community-left h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-bottom: 30px;
}
.community-left p {
    font-size: 18px;
}

.extra-content {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/extra-bg.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.extra-content h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: white;
}
.extra-content h3 {
    color: white;
    font-family: 'Lobster', cursive;
}
.extra-content-text {
    padding: 285px;
}
.extra-content-text a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background: white;
    border-radius: 10px;
    transition: all .3s ease;
}
.extra-content-text a:hover {
    color: white;
    background: transparent;
    border: 1px solid white;
}

footer {
    background-color: #0B0D17;
    text-align: center;
    color: white;
    height: 150px;
}
.footer-text {
    padding: 47px 0;
}
footer h1 {
    font-family: 'Lobster', cursive;
}
footer p {
    font-size: 12px;
}
.red-color {
    color: #FF5959;
}